<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mycoffee.mapper.BoardMapper">

		<select id="getList" resultType="com.mycoffee.domain.BoardVO">
			SELECT d.did, d.name, u.address, d.permitted, 
			       NVL(v1.cnt, 0) total, 
			       NVL(v2.cnt, 0) reserved, 
			       NVL(v3.cnt, 0) completed
			  FROM TBL_DRIVER d 
			  LEFT OUTER JOIN TBL_ORDER o ON d.DID = o.DID
			  LEFT OUTER JOIN TBL_USER u ON o.USERID = u.USERID
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') 
			          GROUP BY did
			       ) v1 ON o.did = v1.did
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') AND status = 4 
			          GROUP BY did
			       ) v2 ON o.did = v2.did
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') AND status = 5 
			          GROUP BY did
			       ) v3 ON o.did = v3.did
			 ORDER BY d.name
		</select>
  </mapper>