<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycoffee.mapper.DeliveryMapper">

	<select id="selectDriverOrderList" resultType="com.mycoffee.domain.DriverOrderVO">
		SELECT o.oid,
		       o.did,
		       o.orderdate,
		       o.status,
		       cs.disp as statusdisp,
		       pc.ptype,
		       ct.disp as temperaturedisp,
		       pc.pname,
		       d.pieces,
		       d.price,
		       o.totalprice,
		       u.name,
		       u.mobile,
		       u.address
		  FROM tbl_order o
		 INNER JOIN TBL_ORDER_DETAIL d ON o.oid = d.oid
		 INNER JOIN TBL_PRODUCT p ON d.pid = p.pid
		 INNER JOIN TBL_PRODUCT_CATEGORY pc ON p.pcategory = pc.pcategory
		 INNER JOIN TBL_CODES ct ON p.temperature = ct.code AND ct.type = 'TEMPER'
		 INNER JOIN TBL_CODES cs ON o.status = cs.code AND cs.type = 'ORDER'
		 INNER JOIN TBL_USER u ON o.userid = u.userid
		 WHERE ((o.did = #{did}) OR
		        (o.did IS NULL AND o.status = 3))
		   AND TO_CHAR(o.orderdate, 'yyyymmdd') = TO_CHAR(SYSDATE, 'yyyymmdd')
		 ORDER BY o.status, o.orderdate desc, o.oid, pc.ptype, p.pid
	</select>

	<update id="updateOrderToCheckout">
		UPDATE tbl_order SET
			   did = #{did},
			   status = 4,
			   updatedate = SYSDATE
		 WHERE oid = #{oid}
		   AND status = 3
	</update>

	<update id="updateOrderToComplete">
		UPDATE tbl_order SET
			   status = 5,
			   updatedate = SYSDATE
		 WHERE oid = #{oid}
		   AND did = #{did}
		   AND status = 4
	</update>
	
	<select id="selectUncheckedOrderList" resultType="com.mycoffee.domain.DriverOrderVO">
		SELECT o.oid,
		       o.did,
		       o.orderdate,
		       o.status,
		       cs.disp as statusdisp,
		       pc.ptype,
		       ct.disp as temperaturedisp,
		       pc.pname,
		       d.pieces,
		       d.price,
		       o.totalprice,
		       u.name,
		       u.mobile,
		       u.address
		  FROM tbl_order o
		 INNER JOIN TBL_ORDER_DETAIL d ON o.oid = d.oid
		 INNER JOIN TBL_PRODUCT p ON d.pid = p.pid
		 INNER JOIN TBL_PRODUCT_CATEGORY pc ON p.pcategory = pc.pcategory
		 INNER JOIN TBL_CODES ct ON p.temperature = ct.code AND ct.type = 'TEMPER'
		 INNER JOIN TBL_CODES cs ON o.status = cs.code AND cs.type = 'ORDER'
		 INNER JOIN TBL_USER u ON o.userid = u.userid
		 WHERE o.status = 3
		   AND o.did IS NULL
		   AND TO_CHAR(o.orderdate, 'yyyymmdd') = TO_CHAR(SYSDATE, 'yyyymmdd')
		 ORDER BY o.status, o.orderdate desc, o.oid, pc.ptype, p.pid
	</select>

</mapper>