<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycoffee.mapper.DriverMapper">

	<!-- 회원가입 -->
	<insert id="insert">
		insert into tbl_driver
			(did, password, name, auth, mobile, onwork, permitted)
		values
			(#{did}, #{password}, #{name}, 0, #{mobile}, 1, 0)
	</insert>

	<select id="select" resultType="com.mycoffee.domain.DriverVO">
		select *
		from tbl_driver
		where did = #{did}
	</select>

	<update id="update">
		UPDATE tbl_driver SET
		       name = #{name},
		       mobile = #{mobile},
		       <if test="password != null">
		       password = password,
		       </if>
		       updatedate = SYSDATE
		 WHERE did = #{did}
	</update>

	<delete id="delete">
		DELETE FROM tbl_driver
		 WHERE did = #{did}
	</delete>

	<select id="selectDriver"
		resultType="com.mycoffee.domain.DriverVO">
		SELECT did, name, mobile, reason
		FROM tbl_driver
		WHERE did = #{did}
	</select>

	<!-- 로그인 -->
	<select id="driverLogin"
		resultType="com.mycoffee.domain.DriverVO">
		select did, name, auth, mobile, onwork, permitted
		from tbl_driver
		where did = #{did} and password = #{password}
	</select>

	<update id="updatePermition">
		UPDATE tbl_driver SET
			   permitted = #{permitted},
			   reason = #{reason},
			   updatedate = SYSDATE
		 WHERE did = #{did}
	</update>

	<update id="updateOnWork">
		UPDATE tbl_driver SET
			   onwork = #{onwork}, <!-- 0,1 교체? -->
			   updatedate = SYSDATE
		 WHERE did = #{did}
	</update>

	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">
		select count(*)
		from tbl_driver
		where did = #{did}
	</select>

	<select id="selectDriverSummaryList" resultType="com.mycoffee.domain.DriverSummaryVO">
			SELECT d.did, d.name, u.address, d.permitted, 
			       NVL(v1.cnt, 0) total, 
			       NVL(v2.cnt, 0) reserved, 
			       NVL(v3.cnt, 0) completed
			  FROM TBL_DRIVER d 
			  LEFT OUTER JOIN TBL_ORDER o ON d.DID = o.DID
			  LEFT OUTER JOIN TBL_USER u ON o.USERID = u.USERID
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') 
			          GROUP BY did
			       ) v1 ON o.did = v1.did
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') AND status = 4 
			          GROUP BY did
			       ) v2 ON o.did = v2.did
			  LEFT OUTER JOIN (
			         SELECT did, COUNT(did) cnt FROM TBL_ORDER 
			          WHERE TO_CHAR(orderdate, 'yyyymmdd') = TO_CHAR(orderdate, 'yyyymmdd') AND status = 5 
			          GROUP BY did
			       ) v3 ON o.did = v3.did
			 WHERE d.auth = 0
			 ORDER BY d.name
	</select>
</mapper>