<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycoffee.mapper.OrderDetailMapper">

	<!-- tbl_oder_detail -->
	<insert id="insertOrderdetail">
		insert into
			tbl_order_detail(oid,pid,pieces,price,registdate,updatedate)
				values(#{oid},#{pid},1,#{price},sysdate,sysdate)
	</insert>
	
	<select id ="selectDetail" resultType="com.mycoffee.domain.OrderDetailVO">
		select * from tbl_order_detail
			where oid=#{oid} and pid={#pid}
	</select>
	<select id ="selectDetailList"  resultType="com.mycoffee.domain.OrderDetailVO">
		select * from tbl_order_detail
			where oid=#{oid}
	</select>
	<select id="getPieces" resultType="int">
		select pieces from tbl_order_detail
			where oid=#{oid} and pid=#{pid}
	</select>
	<update id="updatePieces">
		update tbl_order_detail
			set pieces =#{num}
		where oid=#{oid} and pid=#{pid}
	</update>
	<!-- <select id="getpidList" resultType="String">
		select pid from tbl_order_detail
			where oid=#{oid}
	</select> -->
	
	<delete id="deleteOrderDetailByOid">
		delete tbl_order_detail where oid=#{oid}
	</delete>
	<delete id="deleteOrderDetail">
		delete tbl_order_detail where oid=#{oid} and pid=#{pid}
	</delete>
</mapper>