<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycoffee.mapper.ProductInfoMapper">

	<select id="selectCategory" resultType="com.mycoffee.domain.ProductCategoryDTO">
		SELECT * FROM tbl_product_category WHERE pcategory = #{pcategory}
	</select>
	
	<insert id="insertCategory">
		INSERT INTO tbl_product_category (pcategory, pname, ptype, description, calorie, caffeine, sugars, protein, fat, sodium, imagefile)
		VALUES (#{pcategory}, #{pname}, #{ptype}, #{description}, #{calorie}, #{caffeine}, #{sugars}, #{protein}, #{fat}, #{sodium}, #{imagefile})
	</insert>
	
	<update id="updateCategory">
		UPDATE tbl_product_category SET
				pname = #{pname},
				ptype = #{ptype},
				description = #{description},
				calorie = #{calorie},
				caffeine = #{caffeine},
				sugars = #{sugars},
				protein = #{protein},
				fat = #{fat},
				sodium = #{sodium},
				imagefile = #{imagefile},
				updatedate = SYSDATE
		 WHERE pcategory = #{pcategory}
	</update>
	
	<delete id="deleteCategory">
		DELETE FROM tbl_product_category
		 WHERE pcategory = #{pcategory}
	</delete>

	<select id="selectCategoryByPtype" resultType="com.mycoffee.domain.ProductCategoryDTO">
		SELECT * FROM tbl_product_category WHERE ptype = #{ptype}
	</select>
		
	<select id="selectProductInCategory" resultType="com.mycoffee.domain.ProductDTO">
		SELECT pid, pcategory, temperature, capacity, price, onsale, registdate, updatedate
		  FROM tbl_product
		 WHERE pcategory = #{pcategory}
	</select>
	
	<delete id="deleteProductInCategory">
		DELETE FROM tbl_product
		 WHERE pcategory = #{pcategory}
	</delete>
	
	<select id="selectProduct" resultType="com.mycoffee.domain.ProductDTO">
		SELECT pid, pcategory, temperature, capacity, price, onsale, registdate, updatedate
		  FROM tbl_product
		 WHERE pid = #{pid}
	</select>

	<insert id="insertProduct">
		INSERT INTO tbl_product(pid, pcategory, temperature, capacity, price, onsale)
		VALUES (#{pid}, #{pcategory}, #{temperature}, #{capacity}, #{price}, #{onsale})
	</insert>

	<update id="updateProduct">
		UPDATE tbl_product SET
		       pcategory = #{pcategory},
		       temperature = #{temperature},
		       capacity = #{capacity},
		       price = #{price},
		       onsale = #{onsale},
		       updatedate = SYSDATE
		 WHERE pid = #{pid}
	</update>
	
	<delete id="deleteProduct">
		DELETE FROM tbl_product
		 WHERE pid = #{pid}
	</delete>
	
</mapper>