<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycoffee.mapper.UserMapper">
	 <select id="getList" resultType="com.mycoffee.domain.UserVO">
		<![CDATA[select * from tbl_user
		]]>
	</select>
	<select id="LoginUser" resultType="com.mycoffee.domain.UserVO">
		select * from tbl_user
			where userid=#{userid} and password=#{password}
	</select>
	<select id="checkid" resultType="int">
		select count(*) from tbl_user
			where userid=#{userid}
	</select>
	<select id="checkuser" resultType="int">
		select count(*) from tbl_user
			where userid=#{userid} and password=#{password}
	</select>
	
 	<insert id ="insertUser">
		insert into tbl_user(userid,password,name, auth, address,mobile,registdate)
values (#{userid},#{password},#{name},1,#{address},#{mobile},sysdate)
	</insert>
	<delete id="delete">
		delete tbl_user where userid=#{userid}
	</delete>
	<update id="update">
		update
			tbl_user
		set
			userid=#{userid}, password=#{password},name=#{name},auth=#{auth},mobile=#{mobile},address=#{address},updateDate=sysdate
		where userid=#{userid}
	</update>
</mapper>